{{template "base" .}}

{{define "content"}}

    {{$res := index .Data "reservation"}}

<h1>Make a reservation</h1>
<hr>
    <h5>
        Arrival: {{index .StringMap "start_date"}}
    </h5>

    <h5>
        Departure: {{index .StringMap "end_date"}}
    </h5>

    <h5>
        Room: {{$res.Room.Title}}
    </h5>

<hr>

<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">


   <div class="form-group">
       <label for="firstname">
           FirstName:
       </label>
       <input type="text" name="firstname" class="form-control {{with .Form.Errors.Get "firstname" }} is-invalid {{end}}"
              value="{{$res.FirstName}}">
       {{with .Form.Errors.Get "firstname" }}
           {{.}}
       {{end}}
   </div>
    <br>


    <div class="form-group">
        <label for="firstname">
            LastName:
        </label>
        <input type="text" name="lastname" class="form-control {{with .Form.Errors.Get "lastname" }} is-invalid {{end}}"
               value="{{$res.LastName}}">
        {{with .Form.Errors.Get "lastname" }}
            {{.}}
        {{end}}
    </div>
    <br>

    <div class="form-group">
        <label for="firstname">
            Email:
        </label>
        <input type="email" name="email" class="form-control {{with .Form.Errors.Get "email" }} is-invalid {{end}}"
               value="{{$res.Email}}">
        {{with .Form.Errors.Get "email" }}
            {{.}}
        {{end}}
    </div>
    <br>

    <div class="form-group">
        <label for="firstname">
            phone:
        </label>
        <input type="text" name="phone" class="form-control {{with .Form.Errors.Get "phone" }} is-invalid {{end}}"
               value="{{$res.Phone}}">
        {{with .Form.Errors.Get "phone" }}
            {{.}}
        {{end}}
    </div>
    <br>

    <input type="text" name="room_id" value="1" hidden>


    <button type="submit" class="btn btn-success">post</button>
</form>

{{if ne (index .Error) ""}}
<p>
    {{index .Error}}
</p>
{{end}}

{{if ne (index .Flash) ""}}
<p>
    {{index .Flash}}
</p>
{{end}}

{{if ne (index .Warning) ""}}
<p>
    {{index .Warning}}
</p>
{{end}}

{{end}}